@font-face {
    font-family: 'Core Sans C 65';
    src: url('fonts/CoreSansC-65Bold.eot');
    src: url('fonts/CoreSansC-65Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/CoreSansC-65Bold.woff2') format('woff2'),
        url('fonts/CoreSansC-65Bold.woff') format('woff'),
        url('fonts/CoreSansC-65Bold.ttf') format('truetype'),
        url('fonts/CoreSansC-65Bold.svg#CoreSansC-65Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
label.error{
	color:red;
	font-weight: bold;
}
.list_tables .card-body .form-group{
	width: 50%;
}
.add_new_button{
	width: 15%;
}
.label-info {
    background-color: #5bc0de;
}
.label-success {
    background-color: #5cb85c;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-default {
    background-color: #777;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.pagination {
  display: inline-block;
}

.pagination a, .pagination strong {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination strong {
	background-color: #ddd;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
/*# Spinner Css#*/
#cover-spin {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
  display:none;
}

@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#cover-spin::after {
  content:'';
  display:block;
  position:absolute;
  left:48%;top:40%;
  width:40px;height:40px;
  border-style:solid;
  border-color:#2385da;
  border-top-color:transparent;
  border-width: 4px;
  border-radius:50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}
.field_size{
  width: 25%;
}
.field_margin{
  margin-right: 10px;
}
.sb-topnav{
  height: 64px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343a40;
}

li {
  float: left;
}ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343a40;
  color: #ffffff
}

li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before{
  position: relative !important;
}
.nav-link.active, .nav-link:hover {
    background-color: #0056b3;
    color: #fff;
}
@media (max-width : 991px) {
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before{display:none;}
}
@media (max-width : 767px) {
  .sb-topnav .navbar-brand {
      width: 125px;

  }
}
@media (max-width : 479px) {
  .sb-topnav .navbar-brand {
      width: 75px;
      padding: 0 0px;
  }
  .nav-link {
    font-size: 11px;
    padding: 10px;
}
}