@font-face {
    font-family: 'Core Sans C 65';
    src: url('CoreSansC-65Bold.eot');
    src: url('CoreSansC-65Bold.eot?#iefix') format('embedded-opentype'),
        url('CoreSansC-65Bold.woff2') format('woff2'),
        url('CoreSansC-65Bold.woff') format('woff'),
        url('CoreSansC-65Bold.ttf') format('truetype'),
        url('CoreSansC-65Bold.svg#CoreSansC-65Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

